/* color palette from <https://github.com/vuejs/theme> */
:root {
 --color-text: var(--vt-c-text-dark-2);
}

/* semantic color variables for this project */
:root {
 
}

@media (prefers-color-scheme: dark) {
  :root {
 
    
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh; 
  margin: 0 0 0 6%;
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6; 
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(103deg, #3E3E40 0%, #18181A 79.67%, #18181A 93.04%, #1C1717 95.01%);
  color: white;
  font-family: "Jura", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  overflow-y: hidden;
}

.jura-font {
  font-family: "Jura", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}